<form class="row">
  <div class="col-auto">
    <label for="title" class="form-label">Cose inutili:</label>
    <input class="form-control" name="title" #newtitle>
  </div>
  <br>
  <div class="col-auto">
    <label for="spam" class="form-label">Spam:</label>
    <input class="form-control" name="spam" #newspam>
  </div>
  <br>
  <div class="col-auto" style="padding-top: 30px;">
    <button (click)="spammer(newtitle, newspam)" class="btn btn-primary">
      Submit spam
    </button>
  </div>
  <br>
  <br>
  <p *ngFor = "let elemento of articles" class="fw-bold">
    <app-messaggio-spam [messaggio] = "elemento"></app-messaggio-spam>
  </p>
</form>